<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/acmestart/css/foundation.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/acmestart/css/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="header">
        {% block top_menu %}
        <div class="top_menu">
            <script type="text/javascript">(function() {
                    if (window.pluso)if (typeof window.pluso.start == "function") return;
                    if (window.ifpluso==undefined) { window.ifpluso = 1;
                        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                        s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                        s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                        var h=d[g]('body')[0];
                        h.appendChild(s);
                    }})();</script>
            <div data-description="knowledge - force" data-title="knowledge" class="pluso show-for-large-up" data-background="transparent"
                 data-options="small,round,line,horizontal,counter,theme=03"
                 data-services="facebook,twitter,linkedin,vkontakte,odnoklassniki,google,email,print,yahoo,myspace,moikrug"></div>
            <ul>
                <li>
                    News
                </li>
                <li>
                    Rules
                </li>
                <li>
                    Lessons
                </li>
            </ul>
        </div>
            <div class="pano">

            </div>
        {% endblock %}
        {% block header %}

        <div class="row">
            <div class="small-12 small-centered columns">
                <div class="top_content">
                    <img>
                    <div id="frendly">

                    </div>
                </div>
            </div>
        </div>

        {% endblock %}

    </div>
    <div class="row">
        <div id="content" class="small-12 small-centered columns">
            {% block body %}{% endblock %}
            {% block footer %}
                <div id="desc">

                    <div id="mel">

                    </div>
                </div>
            {% endblock %}
        </div>
        <div data-description="knowledge - force" data-title="knowledge" class="pluso show-for-medium-only" data-background="transparent"
             data-options="small,round,line,horizontal,counter,theme=03"
             data-services="facebook,twitter,linkedin,vkontakte,odnoklassniki,google,email,print,yahoo,myspace,moikrug"></div>

    </div>


        {% block javascripts %}
        <script src="{{ asset('bundles/sonatajquery/jquery-1.10.2.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/acmestart/js/foundation.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/acmestart/js/main.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
